# Timezone
TZ=Australia/Adelaide

# Network
DNS_IP=192.168.0.201
SUBNET=192.168.0.0/24
GATEWAY=192.168.0.1
IP_RANGE=192.168.0.200/29
PARENT_INTERFACE=enp2s0

# Domain
DOMAIN=ktf.internal

# SWAG
PUID=1000
PGID=1000

# Moodle DB
MARIADB_USER=
MARIADB_PASSWORD=
MARIADB_DATABASE=

# Moodle App
MOODLE_USERNAME=
MOODLE_PASSWORD=
MOODLE_HOST=

# filebrowser
FB_ADMIN_PASSWORD=yourpassword
FB_STUDENT_PASSWORD=yourpassword