*
!.gitignore
!docker-compose.yml
!TODO:.md
!setup_certs.sh
!Fix_internal_networking.sh
!setup-usb-automount.sh
!.env.example

!moodle/my_custom.cnf

!DNS
!DNS/dnsmasq.conf
!DNS/DockerfileDNS

!kiwix
!kiwix/Dockerfilekiwix
!kiwix/kiwixstart.sh
!kiwix/zim

!kolibri
!kolibri/Dockerfilekolibri

!moodle
!moodle/my_custom.cnf

!proxy
!proxy/data
!proxy/data/www
!proxy/data/www/index.html
!proxy/data/www/fonts/
!proxy/data/www/fonts/*

!proxy
!proxy/data/
!proxy/data/nginx
!proxy/data/nginx/proxy-confs
!proxy/data/nginx/proxy-confs/kiwix.subdomain.conf
!proxy/data/nginx/proxy-confs/kolibri.subdomain.conf
!proxy/data/nginx/proxy-confs/moodle.subdomain.conf
!proxy/data/nginx/proxy-confs/portainer.subdomain.conf
