*
!.gitignore
!../docker-compose.yml

!../moodle/my_custom.cnf

!data/
!data/www
!data/www/index.html

!data/nginx
!data/nginx/proxy-confs
!data/nginx/proxy-confs/kiwix.subdomain.conf
!data/nginx/proxy-confs/kolibri.subdomain.conf
!data/nginx/proxy-confs/moodle.subdomain.conf